<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">


<!--    useGeneratedKeys 获得插入菜品的主键值， 并将值赋给keyProperty 以便在添加口味时，将其传过去.-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (openid, name, phone, sex, id_number, avatar, create_time)
        values (#{openid}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, #{createTime})
    </insert>


    <select id="countByMap" resultType="java.lang.Integer">
        select count(id) from user
        <where>
            <if test="beginTime != null">
                and order_time &gt; #{beginTime}
            </if>
            <if test="endTime != null">
                and order_time &lt; #{endTime}
            </if>
        </where>
    </select>





</mapper>
